@keyframes color-change {
    0% {
      color: blue;
      font-size: 10px
      
    }
  
    50% {
      color: red;
      font-size: 20px
    }
  
    100% {
      color: rgba(30, 255, 0, 0.952);
      font-size: 10px
    }
}

h1 {
    animation: color-change 3s infinite;
}

body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 15px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #07444d; /* El color del fondo de la página web */
    color: #faf7f7; /* El color del texto*/ 
}
h1 {
    color: #ce1f1f; /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}